.container {
  //flex: 1;
  background-color: var(--chat-bg);
  border-bottom: 1px solid #eee;
  //padding: 5px;
  height: 40px;
  //border: 1px solid #962525;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .titleBox{
    display: flex;
    flex-direction: row;
    .title {
      //margin-left: 10px;
      font-size: 14px;
      color: var(--text);
      font-weight: bold;
    }

    .selectLLM {
      margin-left: 20px;
      width: 180px;
      height: 20px;
      background-color: var(--bgText);
      border-radius: 5px;
    }
  }

  .action {
    margin-right: 4px;

    .showSetting {
      margin-right: 10px;
      border: none;
    }

    .openSetting {
      margin-right: 10px;
      border: none;
    }
  }
}