.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:50px;
  padding: 20px;
  border-radius: 4px;
  color: var(--textSoft);
  background: linear-gradient(135deg, #f6f3f3, #f1ebeb);
  background-size: 200% 200%;
  animation: gradientAnimation 6s ease infinite;
  border:1px solid #fff;
  .logo {
    font-weight: bold;
  }

  .text {
    font-size: 12px;
  }
}


