.container{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
  padding: 0 24px;
  .pagination{
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 160px;
    //border: 1px solid #cc2e2e;
  }
}
