.container{
  display: flex;
  flex-direction: column;
  .list{
    display: grid;
    grid-gap: 16px;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(3, minmax(322px, 1fr));
    overflow-y: auto;
    padding: 0 24px 13px;
  }
  .pagination{
    display: flex;
    flex-direction: row;
    justify-content: right;
    //padding-right: 160px;
    //border: 1px solid #cc2e2e;
  }
}
