.container{
  display: flex;
  flex-direction: column;
  .list{
    display: grid;
    grid-gap: 16px;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(3, minmax(322px, 1fr));
    overflow-y: auto;
    padding: 0 24px 13px;
  }
  .pagination{
    padding-right: 160px;
    text-align: right;
    //border: 1px solid #ECECEC;
  }
}