.container {

  .form {
    display: flex;
    flex-direction: column;

    .name {
      margin-top: 40px;

      .title {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;

      }
    }

    .description {
      margin-top: 40px;
      .title{
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }

    .avatar {
      margin-top: 40px;
    }
  }
}