.container {
  display: flex;
  flex: 1 1;
  flex-direction: row;
  overflow: auto;
  position: relative;

  .sidebar {
    width: 260px;
    height: 100%;
    background: #f7f7fa;
    border-right: 1px solid rgba(29, 28, 35, .08);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    position: relative;
    transition: width .1s linear, padding .1s linear;

    .labelBox {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 8px;

      .label {
        font-family: PingFang SC, Noto Sans SC, sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        margin: 0;
        padding: 8px 16px 8px 16px;
      }

      .buttonBox {
        display: flex;
        align-items: center;
        justify-content: center;

        .hideSidebarButton {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 8px;
          margin-right: 32px;
          background-color: white;
          width: 24px;
          height: 24px;
          border-radius: 8px;
          border: 1px #f0f0f5 solid;
          color: #4d53e8;

          &:hover {
            background-color: #f0f0f0; /* 鼠标悬停时的灰色背景 */
          }
        }
      }

    }
  }

  .content {
    width: calc(100vw - 260px); /* 宽度为全屏宽度减去260px */
    height: calc(100vh - 73px); /* 高度为全屏高度减去73px */
    background-color: #f2f3f5;
    //display: block;
    //left: -734.5581450943371px;
    //top: -426.3328565169156px;
    //position: absolute;
    overflow: visible;
    box-sizing: border-box;
  }

  .droppableArea {
    border: 2px dashed #4d53e8; // 虚线边框
    background-color: #f0f8ff; // 背景色
    min-height: 400px; // 设置最小高度
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; // 左对齐
  }

  .droppedNode {
    padding: 8px 12px;
    border: 1px solid #4d53e8; // 已放置节点的边框
    border-radius: 4px;
    background-color: #fff; // 背景色
    margin: 5px 0; // 节点间隔
    width: 100%; // 节点占满可用宽度
  }
}
