.container {
  --input: 140px;

  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;


  .searchImage {
    .imageDragger {
      height: 200px;
    }
    .hide{
      display: none;
    }

    .preview {
      width: 100%;
      //height: 480px;
      text-align: center;
      padding: 20px;
    }
    .hide{
      display: none;
    }

    .button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 20px;
      margin-top: 20px;
      text-align: center;
    }

    .separate {
      font-size: 12px;
    }
  }

  .result {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .imageDocument {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      gap: 12px;
      //border: 1px solid #d51616;

      .image {
        //border: 1px solid #d51616;
        width: 260px;
        border-radius: 4px;
        box-shadow: #5d424e 0px 0px 4px;
      }

      .content {
        margin-top: 12px;
        font-size: 10px;
      }
    }
  }
}