.btnFun {
  border: 1px solid #ccc;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  text-align: center;
  background-color: white;
  font-size: 12px; /* 调整字体大小 */
}
