.imgBox {
  margin-right: 6px;

  .nodeItemIcon {
    background-color: #ccdccc;
    border-radius: 4px;
    padding: 4px;
    color: white;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
