
.nodeList {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;

  .container {
    margin: 0 0 12px;

    .nodeItemBox {
      width: calc(100% - 32px);
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 6px 8px 0 rgba(29, 28, 35, .06);
      font-size: 12px;
      line-height: 16px;
      margin: 0 16px;
      overflow: hidden;
      padding: 12px 16px;

    }
  }
}
